<!DOCTYPE html>
<html lang="en">

    <head>
        <title>CRUD app</title>
    </head>

    <body>
        <section id="top">
            <div class="wrapper">
                <h1>Hi, this is a CRUD movie list app. Use the following commands:</h1>
                <ul>
                    <li>GET /allMovies - Getting JSON with all movies from the database</li>
                    <li>GET /someMovie?id=* - Getting a JSON movie by its id</li>
                    <li>PUT /movie/change?id=* - Changing the name of a movie by its id</li>
                    <li>DELETE /movie/delete?id=* - Deleting a movie by its id</li>
                    <li>POST /movies - Adding a movie to the database</li>
                </ul>
                <h5>* its id movie</h5>
            </div>
        </section>
    </body>

</html>